<a href="https://colab.research.google.com/github/naufa607/KKA-X-Semester-1/blob/main/1_Fungsi_Print_Naufa_Zadit_Taqwa_X_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama =("Naufa Zadit Taqwa")
print(nama)

Naufa Zadit Taqwa

In [ ]:
print("Cristiano Ronaldo")

Cristiano Ronaldo

In [ ]:
usia= 15
print("usia")

usia

In [ ]:
namaSaudara= "Ronaldo"
print (namaSaudara)

Ronaldo

In [ ]:
mataPelajaranFavorit = "PPKN"
print (mataPelajaranFavorit).

PPKN

In [ ]:
nama_panggilan_siswa = "Naufa"
print(f"nama panggilan tersebut adalah {nama_panggilan_siswa} loh")

nama panggilan tersebut adalah Naufa loh

#3 menampilkan teks bebas dan nilai variabel

In [ ]:
print("Halo perkenalkan nama saya", nama, "usia saya",Usia,"tahun.")

Halo perkenalkan nama saya naufa usia saya 15 tahun.

In [ ]:
Usia = "15"
print(usia)

15

In [ ]:
nama = "naufa"
print(nama)

naufa

In [ ]:
print("nama saya " + nama+". usia saya "+ str(Usia)+"tahun.")

nama saya naufa. usia saya 15tahun.

In [ ]:
nama_siswa_1="ridju"
nama_siswa_2="rafa"
print(nama_siswa_1)

ridju

In [ ]:
print(nama_siswa_1, nama_siswa_2)

ridju rafa

In [ ]:
print(nama_siswa_1,nama_siswa_2,sep="-")

ridju-rafa

In [ ]:
print(nama_siswa_1,nama_siswa_2,nama_siswa_1,sep="*")

ridju*rafa*ridju

In [ ]:
print(nama_siswa_1,end="*")
print(nama_siswa_2)

ridju*rafa